.doll
  .hair
  .bun
  .bow
  .head
    .fringe
    .face
      .eyes
      .blush
      .lips
  .body
    .robe
    .arm.left
      - var tf = 3;
      while (tf--)
        .flower
          - var tp = 6;
          while (tp--)
            .petal.petal-6
    .arm.right
      - var tf = 3;
      while (tf--)
        .flower
          - var tp = 6;
          while (tp--)
            .petal.petal-6

.doll
  .hair
  .head
    .fringe
    .face
      .eyes
      .blush
      .lips
  .body
    - var tf = 17;
    while (tf--)
      .flower
        - var tp = 6;
        while (tp--)
          .petal.petal-5
    .robe
		
.doll
  .hair
  .bun
    .pin.left
      .flower
        - var tp = 6;
        while (tp--)
          .petal.petal-6
    .pin.right
      .flower
        - var tp = 6;
        while (tp--)
          .petal.petal-6
  .head
    .fringe
    .face
      .eyes
      .blush
      .lips
  .body
    - var tf = 8;
    while (tf--)
      .flower
        - var tp = 6;
        while (tp--)
          .petal.petal-6
    .robe
		
.doll
  .hair
  .head
    - var tf = 2;
    while (tf--)
      .flower
        - var tp = 6;
        while (tp--)
          .petal.petal-6
  
    .fringe
    .face
      .eyes
      .blush
      .lips
  .body
    .robe
		
.doll
  .hair
    .pin
  .bun
  .head
    .fringe
    .face
      .eyes
      .blush
      .lips
  .body
    - var tf = 11;
    while (tf--)
      .flower
        - var tp = 8;
        while (tp--)
          .petal.petal-8
    .robe
    .belt
    .arm.left
    .arm.right
		
.doll
  .hair
  .bun.left
  .bun.right
  .head
    .fringe
    .face
      .eyes
      .blush
      .lips
  .body
    - var tf = 3;
    while (tf--)
      .flower
        - var tp = 8;
        while (tp--)
          .petal.petal-6
    .robe
  .belt